.boton {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  text-decoration: none; /* Elimina subrayado en el texto del botón */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.boton:hover {
  background-color: #00adb3; /* Color de fondo al pasar el mouse */
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.logo-size {
    width: 100px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
